body {
    margin: 10;
    font-family: 'Gowun Dodum', sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;  /*아이템들이 한줄에 나란히*/
    justify-content: space-between; /*같은 중심축에서 공간을 넣어줌*/
    align-items: center;
    padding: 8px 60px;  /*양 옆에 padding 줌*/
}

.navbar_logo a{
    font-size: 30px;
    color: black;
}

.navbar_logo i {
    color: #d49466;
}

.navbar_menu {
    display: flex;
    list-style: none; /*동그라미 버튼 (li)*/
    padding: 8px 20px;
    align-items: center;
}

.navbar_menu li {
    padding: 8px 30px; /*위아래 8px, 좌우 12px*//*마우스 올렸을 때 백그라운드를 좀 더 넓게 쓰기 위해서 마진 대신 패딩 사용*/
    font-size: 25px;
    text-align: center;
    list-style: none;
}

.navbar_menu :hover {
    border-radius: 4px;
    list-style: none; 
    color: #d49466;
}

.navbar_menu1 :hover {
    border-radius: 4px;
    list-style: none;
    color: white;
}

.navbar_menu ul {
    margin-left: -40px;
    margin-top: 7px;
    padding: 0;
    position: absolute;
    text-align: left;
    display: none;    
}

.navbar_menu :hover > ul{
    display: block;
    list-style: none;
}


.navbar_menu li li {
    font-size: 17px;
    width: 90px;
}

.navbar_menu li li:hover {
    font-size: 17px;
    width: 90px;
    background-color: #d49466;
}

.navbar_menu li a :hover {
    font-size: 17px;
    width: 90px;
}

.navbar_board2 {
    display: none; 
}

.navbar_line {
    display: flex;
    text-decoration: none;
    color: lightgray;
}

.navbar_icons {
    display: flex;
    width: 25px;
    height: 25px;
    padding-right: 105px;
}

.navbar_toggleBt {
    position: absolute;
    right: 32px;
    top: 25px;
    font-size: 20px;
    color: #d49466;
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_logo {
        margin-top: 4px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;        
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .navbar_menu li li {
        display: none;
    }

    .navbar_board2 {
        display: block;
    }

    .navbar_board {
       display: none;
    }

    .navbar_line {
        display: none;
    }

    .navbar_icons {
        position: absolute;
        top: 13px;
        right: 75px;
        color: #d49466;
    }

    .navbar_toggleBt {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }

}