.main{
    height: 50px;
    margin-bottom: 2.5%;
}

body {
    background-color: white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: left;
    margin-bottom: 1em;
    height: 90px;
    background-color: white;
    border-radius: 30px;
}

nav a {
    text-decoration: none;
    color:black;
    margin: 1em;
    font-size: 20px;
    margin-left: 18px;
}

#register {
   color: gray;
   margin-right: 20px;
}

#s{
    height:45px;
    width: 45px;
}

#underline{
    position: absolute;
    left:0;
    height: 4px;
    width: 0;
    top: 0;
    border-radius: 3px;
    transition: 0.5s;
    background-color: pink;
    margin-top: -10px;
}

.today1{
    display: flex;
    justify-content: left;
    margin-top: 0px;
    height: 550px;
    background-color:rgb(251, 206, 177);
    padding-left: 200px;
    vertical-align: middle;
    color: black;
    flex-direction: column;
}

.today2{
    display: flex;
    justify-content: right;
    text-align: right;
    margin-top: 0px;
    padding-right: 250px;
    height: 550px;
    background-color:rgb(251, 206, 177);
    padding-left: 63%;
    vertical-align: middle;
    color: black;
    flex-direction: column;
}

.today3{
    display: flex;
    justify-content: left;
    margin-top: 0px;
    height: 550px;
    background-color:white;
    padding-left: 200px;
    vertical-align: middle;
    color: black;
    flex-direction: column;
}

h1{
    padding-top: 130px;
}

h2{
    font-family: 고딕;
    font-size: 30px;
}

p{
    font-family: 고딕;
    font-size: 18px;
}

#recommand1{
    display: flex;
    height: 407px;
    width:343px;
    padding-left: 0px;
    margin-left: 55%;
    margin-top: -320px;
    border-radius: 2px;
    box-shadow: 15px 15px 0px rgba(0.2, 0, 0, 0.1);
}

#recommand2{
    display: flex;
    height: 407px;
    width:343px;
    margin-left: -250%;
    margin-top: -320px;
    border-radius: 2px;
    box-shadow: -15px 15px 0px rgba(0.2, 0, 0, 0.1);
}

#recommand3{
    display: flex;
    height: 325px;
    width: 275px;
    padding-left: 0px;
    margin-left: -5%;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 15px 15px 0px rgba(0.2, 0, 0, 0.1);
}

#recommand4{
    display: flex;
    height: 325px;
    width: 275px;
    padding-left: 0px;
    margin-left: 0%;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 15px 15px 0px rgba(0.2, 0, 0, 0.1);
}

#recommand5{
    display: flex;
    height: 325px;
    width: 275px;
    padding-left: 0px;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 15px 15px 0px rgba(0.2, 0, 0, 0.1);
}

#textDiv{
    width: 300px;
    height: 350px;
    border: 3px solid gray;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top: -280px;
    margin-left: 250px;;
}

#btHide{
    margin-top: 0px;
    width: 75px;
    margin-left: 225px;;
}

#popular{
    text-align: center;
    padding-right: 175px;    
    margin-top: 70px;
    margin-bottom: 50px;
}

marquee{
    background: #000;
    height: 55px;
    margin-bottom: 45px;
}

#text1{
    padding-top: 2px;
    color: pink;
}

#text2{
    padding-top: 2px;
    color: yellow;
}

#text3{
    padding-top: 2px;
    color: red;
}









